h1{
  color: blue;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 2 rem;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

.button {
  /* Set buttons to flex layout */
  display: flex;
  gap: 1rem; /* Adjust the gap between buttons as needed */
}